
/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}

.cabecalho{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

/* estilo cabeçaçho */
header{
    padding: 40px 4%;
}

header > .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: #696868;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}
header .contato-btn button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .contato-btn button:hover{
    box-shadow: 0px 0px 8px rgb(33, 33, 214);
}

/* estilo topo do site */
.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: blue;
    font-size: 56px;
}
.topo-do-site .txt-topo-site p span{
    color: blue;
    font-size: 30px;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 4s ease-in-out infinite;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}